<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<body>
<div class="containment">
  <form class="search" id="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <select formControlName="city">
      <option value="" selected>Город вылета</option>
      <option value={{city.key}} *ngFor="let city of cities | keyvalue">{{city.value}}</option>
    </select>
    <select formControlName="country">
      <option value="" selected>Страна</option>
      <option value={{country}} *ngFor="let country of ids[searchForm.get('city').value]">{{country}}</option>
    </select>
    <input formControlName="datepick" type="date" min="{{minDate}}" max="{{maxDate}}">
    <input type="number" formControlName="nights" min="5" max="15" placeholder="ночей от">
    <input type="number" formControlName="nightsTo" min="{{searchForm.get('nights').value+1}}" max="15"
           placeholder="ночей до">
    <input type="submit" value="🔎 Найти ">
  </form>
  <div class="card flex-direction" *ngFor="let res of reqResult">
    <div class="image">
      <img src="../assets/images/hotel.png" class="hotel">
      <div class="bottom-left">{{res.hotelName}}
        <div class="location">Турция, Кемер, 3 линия</div>
      </div>
      <div class="top-left" id="box1">8,5 / 10</div>
      <div class="top-right" id="box2">-55%</div>
      <div class="bottom-right">
        <img src="../assets/images/tumbup.png" style="width: 13%; vertical-align: middle; margin-right: 10px">
        <div id="box3">Рекомендуем</div>
      </div>
    </div>
    <div class="borderContainer first">
      <div class="borderContainerText">
        <div class="containerTextOne">{{searchForm.value.nights}} — {{searchForm.value.nightsTo}} ночей</div>
        <div class="containerTextTwo">Вылеты 26 фев — 04 мар из Алматы</div>
      </div>
    </div>
    <div class="borderContainerRight">
      <div class="container cost">
        <a href='#'>2 взр и 3 реб</a>
        <div class="costText">от {{res.price}} {{res.currency}}</div>
      </div>
    </div>

    <div class="container second">
      <div id="box4"> 458 944 ₸</div>
      <div class="textTime">x 24 мес</div>
    </div>
    <a class="tours" href="#">Показать туры (53)</a>
  </div>
</div>
<div class="footer">
  <button class="footbutton borderRight" onclick="location.href='#search'">
    <img style="" src="../assets/images/find.png">
    <span href="#">ПОИСК</span>
    <span class="small">по отелю</span>
  </button>
  <button class="footbutton borderRight">
    <img src="../assets/images/filter.png">
    <span>ФИЛЬТРЫ</span>
    <span class="small">не выбранно</span>
  </button>
  <button class="footbutton borderNone">
    <img src="../assets/images/sort.png">
    <span>СОРТИРОВКА</span>
    <span class="small">сначала дешевле</span>
  </button>
</div>
</body>
</html>
